<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/b25b27174b.js" crossorigin="anonymous"></script>

    <link rel="shortcut icon" href="favicon/favicon.ico">
    <link rel="stylesheet" href="css/style.bundle.css">

    <title>Alpha business consulting</title>

  </head>
  <body>

    <div id="vue">

    <header class="header menu-hidden" id="header">
      <div class="header-always black-strip">
        <div class="flex">
          <a href="../index.html"><i class="fas fa-home header-icon"></i></a>
          <a href="#to-footer" id="list"><i class="fas fa-phone header-icon"></i></a>
        </div>
        <div class="header-text">
          <h4>Alpha Business Consulting</h4><h4 class="dash">-</h4>
          <h4 class="green-bg">{{service.title}}</h4>
        </div>
        <i class="fas fa-align-right header-icon" id="toggle-menu"></i>

      </div>
      <div class="header-popup">
        <div class="categories-list owl-carousel" id="header-carousel">
          <div class="category-array" v-for="cat in header_items">
            <h4>{{cat.category}}</h4>
            <a :href="'index.html?id='+i.id+'#to-service'" v-for="i in cat.list">{{i.name}}</a>
          </div>
          <!--
          <div class="category-array">
            <h4>Название категории 4</h4>
            <a href="">sed do eiusmod</a>
            <a href="">sed do eiusmod tewtydfftu</a>
            <a href="">jfggffggf sed do eiusmod</a>
            <a href="">sed do hgkgkhgjhgkjhghjgk eiusmod</a>
            <a href="">sed do hjg eiusmod</a>
          </div> -->
        </div>
        <div class="black-strip select-it">
          <h4>выбирайте нужную категорию</h4>
          <div class="arrow-wrap">
            <img src="img/header-arrow.svg" alt="">
          </div>
        </div>
      </div>

    </header>
    <section class="teaser flex -column -ai-c -jc-c">
      <div class="left-el">
        <img src="img/left.svg" alt="">
      </div>
      <div class="right-el">
        <img src="img/right.svg" alt="">
      </div>
      <div class="content flex -column -ai-c">
        <div class="img-wrap">
          <img src="img/logo.svg" alt="">
        </div>
        <div class="title">
          <h2>ВАШЕ СПОКОЙСТВИЕ</h2>
          <div class="flex -ai-c">
            <h3>работа нашей коллегии адвокатов</h3>
            <div class="title-img-wrap">
              <img src="img/rectangle.svg" alt="">
            </div>
          </div>

        </div>
        <div class="list flex -column">
          <div class="line">
            <div class="square"></div>
            <p>не даем пустых обещаний</p>
          </div>
          <div class="line">
            <div class="square"></div>
            <p>без непредвиденных расходов</p>
          </div>
          <div class="line">
            <div class="square"></div>
            <p>честно рассказываем о перспективах</p>
          </div>
          <div class="line">
            <div class="square"></div>
            <p>несем полную ответственность за результат</p>
          </div>
        </div>
        <a href="#to-contact" class="custom-button" id="list">интересно</a>
      </div>
    </section>

    <section class="service-body flex -column -ai-c" id="to-service">
      <div class="content">
        <div class="title">
          <h2>{{service.title}}</h2>
          <p class="subtitle">{{service.subtitle}}</p>
        </div>

        <div class="text-body flex">
          <div class="left-text">
            <h4>Что это такое?</h4>
            <p>{{service.content}}</p>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p> -->
          </div>
          <div class="right-text">
            <h4>А что мне за это будет?</h4>
            <div class="list">
              <template v-for="item in service.features">
                <div class="green-square"></div>
                <p>{{item}}</p>
              </template>

              <!-- <div class="green-square"></div><p>Lorem ipsum dolor sit amet, consectetur </p>
              <div class="green-square"></div><p>Lorem ipsum dolor sit amet, consectetur </p>
              <div class="green-square"></div><p>Lorem ipsum dolor sit amet, consectetur </p>
              <div class="green-square"></div><p>Lorem ipsum dolor sit amet, consectetur </p>
              <div class="green-square"></div><p>Lorem ipsum dolor sit amet, consectetur </p>
              <div class="green-square"></div><p>Lorem ipsum dolor sit amet, consectetur </p> -->
            </div>
          </div>
        </div>

        <div class="price-body">
          <h4>Наверняка, вас волнует вопрос - “За что я, собственно, плачу?”</h4>
          <p class="subtitle">для вас мы перечислим за что именно и сколько вы платите, для вашего спокойствия</p>
          <div class="price-list">
            <template v-for="item in service.prices">
              <h4>{{item.price}}</h4>
              <div class="dots"></div>
              <div class="purple-square"></div>
              <p>{{item.comment}}</p>
            </template>
            <!-- <h4>100$</h4>
            <div class="dots"></div>
            <div class="purple-square"></div>
            <p>exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in </p>
            <h4>200$</h4>
            <div class="dots"></div>
            <div class="purple-square"></div>
            <p>exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in </p> -->
          </div>
        </div>

      </div>
    </section>

    <section class="we-all-you-need flex -column -ai-c">
      <div class="black-square"></div>
      <div class="title">
        <h3>мы то, что вам</h3>
        <h2>НУЖНО</h2>
      </div>

      <div class="items-list">

        <div class="item">
          <i class="fas fa-hamsa"></i>
          <h4>Скорость</h4>
          <p>Оценка перспектив дела всего за 1 час</p>
        </div>
        <div class="item">
          <i class="fas fa-envelope-open-text"></i>
          <h4>Удобство</h4>
          <p>Удобный формат общения, очно, мессенджеры, почта</p>
        </div>
        <div class="item">
          <i class="fas fa-laptop-house"></i>
          <h4>Геолокация</h4>
          <p>Можем работать лично, удаленно, по всей России</p>
        </div>
        <div class="item">
          <i class="far fa-credit-card"></i>
          <h4>Лояльность</h4>
          <p>Предоставляем рассрочку, индивидуальные условия</p>
        </div>

      </div>

      <div class="squares-wrap">
        <img src="img/squares.svg" alt="">
      </div>
    </section>

    <section class="timeline flex -column -ai-c -jc-c">
      <div class="timeline-body">

          <div class="icon-wrap icon1">
            <i class="fas fa-pen"></i>
          </div>
          <div class="dots dots1"></div>
          <div class="line line1"></div>
          <div class="text-segment text1">
            <div class="square"></div>
            <h4>Первый шаг</h4>
            <p>Расскажите о своей задаче или проблеме</p>
          </div>

          <div class="icon-wrap icon2">
            <i class="fas fa-align-justify"></i>
          </div>
          <div class="dots dots2"></div>
          <div class="line line2"></div>
          <div class="text-segment text2">
            <div class="square"></div>
            <h4>Второй шаг</h4>
            <p>Мы оценим перспективы дела и стоимость работы</p>
          </div>

          <div class="icon-wrap icon3">
            <i class="fas fa-check"></i>
          </div>
          <div class="dots dots3"></div>
          <div class="line line3"></div>
          <div class="text-segment text3">
            <div class="square"></div>
            <h4>Третий шаг</h4>
            <p>Заключаем соглашение и фиксируем цену</p>
          </div>

          <div class="icon-wrap icon4">
            <i class="fas fa-comments"></i>
          </div>
          <div class="dots dots4"></div>
          <div class="line line4"></div>
          <div class="text-segment text4">
            <div class="square"></div>
            <h4>Четвертый шаг</h4>
            <p>Приступаем к работе и держим Вас в курсе событий</p>
          </div>

          <div class="icon-wrap icon5">
            <i class="fas fa-mobile"></i>
          </div>
          <div class="dots dots5"></div>
          <div class="line line5"></div>
          <div class="text-segment text5">
            <div class="square"></div>
            <h4>Пятый шаг</h4>
            <p>Доводим дело до результата</p>
          </div>

      </div>

      <div class="right-cross-wrap">
        <img src="img/right-cross.svg" alt="">
      </div>

      <div class="left-rectangles-wrap">
        <img src="img/left-rectangles.svg" alt="">
      </div>
    </section>

    <section class="statistics flex -ai-c -jc-c">
      <div class="item">
        <div class="icon-wrap">
          <i class="fas fa-users"></i>
        </div>
        <h2>835</h2>
        <p>клиентов обслужено</p>
      </div>

      <div class="item">
        <div class="icon-wrap">
          <i class="fas fa-thumbs-up"></i>
        </div>
        <h2>749</h2>
        <p>дел выиграно</p>
      </div>

      <div class="item">
        <div class="icon-wrap">
          <i class="fas fa-calendar-minus"></i>
        </div>
        <h2>31500</h2>
        <p>дней работы коллегии</p>
      </div>
    </section>

    <section class="tropheys -column -ai-c">
      <div class="rectangles-wrap">
        <img src="img/rectangles.svg" alt="">
      </div>

      <h2>Наши победы</h2>
      <p class="subtitle">здесь можно посмотреть информацию о делах, которые сопровождали наши адвокаты</p>

      <div class="tropheys-list owl-carousel" id="tropheys-carousel">
        <div class="trophey-item" v-for="item in tropheys">
          <div class="gem">
            <img src="img/gem.svg" alt="">
          </div>
          <a :href="item.href" target="_blank" class="paperclip"><i class="fas fa-paperclip"></i></a>
          <h4>{{item.name}}</h4>
          <p>{{item.text}}</p>
          <div class="facecheck">
            <i class="fas fa-check-square"></i>
            дело выиграно
          </div>
        </div>
      </div>
    </section>

    <section id="contact" class="contact-section flex -column -ai-c">

      <div class="title flex -column" id="to-contact">
        <div class="flex -ai-c">
        </div>
        <h2>ОБРАТИТЕСЬ К НАМ</h2>
        <h3>мы всегда на связи</h3>
      </div>

      <div class="gem">
        <img src="img/contact icon.png" alt="">
      </div>

      <form class="callback-form-custom flex -column"
      id="mailform" method="POST" enctype="multipart/form-data">
        <!-- Hidden Required Fields -->
          <input type="hidden" name="project_name" value="Site Name">
          <input type="hidden" name="admin_email" value="denielolivo982@gmail.com">
          <input type="hidden" name="form_subject" value="Form Subject">
          <!-- END Hidden Required Fields -->

          <div class="input-box flex -ai-c">
            <textarea rows="5" name="text" required="required" name="message" placeholder="Опишите Вашу проблему"></textarea>
          </div>

          <!-- <div class="input-box flex  a-i-center">
            <input type="email" id="email" name="email" required="required" placeholder="Введите ваш E-mail">
            <i class="fas fa-envelope-square"></i>
          </div> -->

          <div class="input-box flex  a-i-center">
            <input type="text" id="name" name="name" required="required" placeholder="Как Вас зовут?">
          </div>

          <div class="input-box flex  a-i-center">
            <input type="tel" id="phone" name="phone" required="required" placeholder="Введите ваш телефон">
          </div>

          <!-- <div class="input-box flex  a-i-center">
            <input type="date" id="date" min="2000-01-01" name="date">
            <i class="fas fa-calendar-alt"></i>
          </div> -->

          <!-- <div class="input-box flex  a-i-center">
            <input type="time" id="time" min="09:30" max="18:30" name="time">
            <i class="fas fa-clock"></i>
          </div> -->

          <!-- <div class="input-box flex  a-i-center">
            <select class="" name="selected">
              <option value="all" disabled selected>Выберите способ консультации</option>
      				<option value="по телефону">по телефону</option>
              <option value="Telegram">Telegram</option>
              <option value="Whatsapp">Whatsapp</option>
            </select>
          </div> -->

          <div class="input-box flex -ai-c check-box">
            <input type="checkbox" name="checkbox" required="required">
            <label for="checkbox"><a href="img/СОГЛАСИЕ.pdf" target="_blank">Я даю согласие на обработку своих персональных данных</a></label>
          </div>

        <button type="submit" class="custom-button">Oтправить</button>

      </form>

      <!-- <div class="social-networks flex -jc-sa">
        <a href="https://www.instagram.com/mo.lab.tech/?igshid=1pnw162y9dgbk"><i class="fab fa-instagram"></i></a>
        <a href="https://t.me/MO_lab"><i class="fab fa-telegram-plane"></i></a>
        <a href="https://www.facebook.com/Molab-102993117891121/?ref=bookmarks"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.linkedin.com/company/43317095"><i class="fab fa-linkedin-in"></i></a>
      </div> -->
    </section>


    <div class="submit-wrap">
      <div class="submit-message">
        Сообщение отправлено!
      </div>
    </div>

    <footer class="flex -ai-c -jc-sa" id="to-footer">

      <div class="flex -ai-c -column">
        <div class="flex cloud -column -ai-c">
          <i class="fas fa-cloud"></i>
          <p>Мы работаем так, как вам удобно: <br> лично и дистанционно</p>
        </div>
        <p>+7 812 317 71 67</p>
        <p>+7 995 987 26 93</p>
        <p>Адрес: г. Санкт-Петербург, пр-т Медиков, д. 10 корп. 7 оф. 5 <br> 10 минут от м. Петроградская</p>
        <p class="gray">ИНН 4253044454 ОГРН 1194200000048</p>

        <div class="flex social -jc-sa">
          <a href="https://t.me/legal_abc"><i class="fab fa-telegram-plane"></i></a>
          <a href="https://wa.me/79959872693"><i class="fab fa-whatsapp"></i></a>
          <a href="https://www.instagram.com/legal.abc/"><i class="fab fa-instagram"></i></a>
        </div>
      </div>

    </footer>

    </div>

  </body>

  <script src="js/bundle.js"></script>
</html>
