//must have

$article-color: #35384B;
$h1-color: #35384B;
$h2-color: #35384B;
$h3-color: #35384B;
$accent-1-color: #8B8FFF;
$accent-1-subcolor: #5D648A;
$accent-2-color: #1CB18B;
$background-color: #F0F0F0;

$black: #282A37;
$transparent: rgba(255, 255, 255, 0);
$green: rgba(0, 228, 140, 1);
$red: rgba(228, 57, 53, 1);
$blue: rgba(65, 67, 149, 1);
$purple: rgba(145, 154, 226, 1);

$article_black: rgba(36, 41, 46, 1);
$d_purple: rgba(90, 93, 195, 1);
