.service-body {
  padding-bottom: RelativeUnits(250, 1);
  .subtitle { opacity: 0.5; }
  .content { max-width: 80vw; @include width(920, 0.8); }
  p { font-weight: 400; }
  h4 { text-transform: uppercase; }
  .purple-square, .green-square {
    width: 8px;
    height: 8px;
  }
  .purple-square { background: $accent-1-color; }
  .green-square { background: $accent-2-color; }
  .title {
    margin-top: RelativeUnits(230, 1);
    margin-bottom: RelativeUnits(140, 1);
    max-width: 100%;
    p { margin-top: 5px; }
  }
  .text-body {
    @include width(900, 0.7);
    max-width: 80vw;
    justify-content: space-between;
    flex-wrap: wrap;
    .left-text, .right-text {
      min-width: 300px;
      //margin: 0 auto;
    }
    .left-text, .right-text {
      width: 40%;
      h4 {
        margin-bottom: RelativeUnits(30, 0.5);
      }
    }
    .left-text {
      text-align: justify;
    }
    .right-text {
      .list {
        display: grid;
        grid-template-columns: 8px auto;
        //align-items: center;
        grid-auto-rows: auto;//RelativeUnits(30, 0.5);
        padding-left: RelativeUnits(25, 0.5);
        p {
          margin-left: RelativeUnits(25, 0.5);
          margin-bottom: RelativeUnits(25, 0.5);
        }
        .green-square {
          margin-top: RelativeUnits(10, 0.7);
        }
      }
    }

    @include _tablet-big {
      .left-text, .right-text {
        width: 100%;
        margin-top: 20px;
        min-width: auto;
      }
    }
  }

  .price-body {
    margin-top: RelativeUnits(90, 0.7);

    .price-list {
      margin-top: RelativeUnits(20, 0.5);
      margin-left: RelativeUnits(-110, 0.5);
      display: grid;
      grid-template-columns: max-content RelativeUnits(75, 0.5) 8px auto;
      grid-auto-rows: max-content;//minmax(RelativeUnits(40, 0.0), auto);
      align-items: center;
      h4 {
        color: $accent-2-color;
        font-weight: 400;
      }
      .dots {
        @include width(30, 0.5);
        border: 1px dashed #35384B;
        height: 1px;
        justify-self: center;
      }
      p { margin-left: RelativeUnits(30, 0.5); }
      p { line-height: 180%; }
      @include _tablet-big {
        width: 100%;
        margin-left: 0;
      }
      @include _phone-big {
        //grid-auto-rows: RelativeUnits(60, 0.0);
        grid-row-gap: 10px;
      }
    }
  }
}
