$ubuntu: 'Ubuntu', sans-serif;

html, body {
	    font-family: $ubuntu;
			overflow-x: hidden;
			width: 100vw;
      background: $background-color;

			a {
				text-decoration: none;
        cursor: pointer;
			}

			ul {
				margin: 0;
			}

			li {
				list-style: none;
			}
      p {
        @include FontLineSize(0.1, 0.1, 0.8, 16, 10);
				font-weight: 500;
      }
      h2 {
        @include FontLineSize(0.2, 0.2, 0.6, 60, 8);
				font-weight: 500;
      }
      h3 {
        @include FontLineSize(0.2, 0.2, 0.6, 30, 8);
				font-weight: 500;
      }
}
